@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

.user{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nickname-top{
    font-family: Elice DX Neolli;
    font-size: 25px;
    font-weight: 300;
}

.nickname{
    width: 800px;
    margin-top: -850px;
    margin-left: 300px;
    text-align: center;
    font-family: Elice DX Neolli;
    font-size: 60px;
    font-weight: 300;
}

.wanted-img{
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 40px 40px 0px 40px;
}

.wanted-img-title{
    margin-left: 40px;
    font-family: Elice DX Neolli;
    font-weight: 300;
    font-size: 1.2rem;
}

.sentence{
    width: 500px;
    height: 75px;
    margin: 10px 0px 10px 40px;
    border-bottom: 1px solid #000;
}
.sentence-title{
    font-size: 20px;
    font-family: Elice DX Neolli;
    font-weight: 300;
}

.sentence-detail{
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Elice DX Neolli;
    font-weight: 300;
    font-size: 25px;
}

body{
    overflow: hidden;
}

.hidden{
    display: none;
}

.top{
    display: flex;
    justify-content: space-between;
}

#home-logo img{
    width: 250px;
    height: 68px;
    cursor: pointer;
}

#profile-square{
    margin: 0 20px 0 20px;
    width: 55px;
    height: 55px;
    background: #0774DB;
    border-radius: 18px;
    border-width: 0;
    cursor: pointer;
}

.wanted{
    display: flex ;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 12%;
    top:16%;
    width: 600px;
    height: 700px;
    background-color: white;
    border: 1px solid none;
    border-radius: 34px;
    box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.393);
}

.wanted-body{
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    width: 600px;
    height: 600px;
}

.wanted-body::-webkit-scrollbar {
    width: 25px;
}

.wanted-body::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
    background-clip: padding-box;
    border: 10px solid transparent;
    height: 200px;
}

#alarm{
    margin:20px 0px 0px 20px;
    width: 30px;
    height: 30px;
}

#map{
    width: 75px;
    margin-bottom: 10px;
    cursor: pointer;
}

.wanted p{
    display: inline;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: Elice DX Neolli;
    top:-8px;
    left: 5px;
}

.wanted-header{
    display: block;
    width: 600px;
    height: 100px;
}

#find{
    background-color: white;
    width: 600px;
    height: 221px;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    top: 16%;
    border: 1px solid none;
    border-radius: 40px;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
    display: flex ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.quest{
    display: flex ;
    flex-direction: column;
    background-color: white;
    width: 600px;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 45%;
    border: 1px solid none;
    border-radius: 40px;
    box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.393);
}

.quest img{
    margin:20px 0px 0px 20px;
    width: 30px;
    height: 30px;
}



.quest-header{
    display: flex;
    justify-content: space-between;
}

.quest-title{
    width: 600px;
    height: 75px;
}

.quest-title div{
    display: inline;
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: Elice DX Neolli;
    top:-8px;
}

.quest-body{
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    width: 600px;
    height: 300px;
}

.quest-body::-webkit-scrollbar {
    width: 25px;
}

.quest-body::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
    background-clip: padding-box;
    border: 10px solid transparent;
    height: 200px;
}


#find p{
    color: #000;
    font-family: Elice DX Neolli;
    font-size: 59.551px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modal-page{
    margin: -20px;
    width: 120%;
    height: 120%;
    position: absolute;
    left: -20px;
    top:-20px;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000;
}

.find-page{
    left: 25%;
    top: 15%;
    width: 720px;
    height: 720px;
    background-color: white;
    position: absolute;
    border-radius: 40px;
    z-index: 2;
}

.find-body{
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#find-detail{
    width: 600px;
    height: 350px;
    margin-left: 8%;
    margin-top: 15%;
    border-radius: 40px;
    background: #F4F4F4;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.25);
}

#find-area{
    font-family: Elice DX Neolli;
    resize: none;
    border: none;
    outline: #000;
    background: #F4F4F4;
    margin-top: 20px;
    margin-left: 20px;
    width: 560px;
    height: 300px;
}

.quested{
    left: 25%;
    top: 15%;
    width: 720px;
    height: 720px;
    background-color: white;
    position: absolute;
    border-radius: 40px;
    z-index: 2;
}

.quest-title{
    display: inline;
    position: relative;
    z-index: 4;
}

.quested-title{
    height: 40px;
}

.quested-title p{
    margin-left: 24px;
    margin-top: 16px;
    font-family:  Elice DX Neolli;
    font-size: 20px;
    font-weight: 300;
}

.quested-title button{
    position: relative;
    top: -45px;
    left: 75px;
    margin-left: 580px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #0774DB;
    border: 0;
    cursor: pointer;
}
.quested-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#addImg{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.quested-body input{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: Elice DX Neolli;
    width: 350px;
    height: 40px;
    outline: 0;
    margin-top: 20px;
    border-left-width:0; 
    border-right-width:0; 
    border-top-width:0; 
    border-bottom-width:1px;
}

.find-body input{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: Elice DX Neolli;
    width: 350px;
    height: 40px;
    outline: 0;
    margin-top: 20px;
    border-left-width:0; 
    border-right-width:0; 
    border-top-width:0; 
    border-bottom-width:1px;
}



.quested-body input:focus{
    border-bottom-width: 2px;
}

#findbtn{
    margin-top: 20px;
    margin-right: 20px;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

#quest-detail{
    width: 600px;
    height: 350px;
    margin-left: 8%;
    margin-top: 5%;
    border-radius: 40px;
    background: #F4F4F4;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.25);
}
#detail{
    font-family: Elice DX Neolli;
    resize: none;
    border: none;
    outline: #000;
    background: #F4F4F4;
    margin-top: 20px;
    margin-left: 20px;
    width: 560px;
    height: 300px;
}

#detail::-webkit-scrollbar {
    width: 25px;
}

#quest-submit{
    width: 50px;
    height: 8px;
    background: #97CCFF;
    box-shadow: 0px 1.238px 8.255px 0.413px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -30px;
    margin-left: 85%;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 28px;
}

#find-submit{
    width: 50px;
    height: 8px;
    background: #97CCFF;
    box-shadow: 0px 1.238px 8.255px 0.413px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -30px;
    margin-left: 85%;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 28px;
}

#thumbnail{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#detail::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
    background-clip: padding-box;
    border: 10px solid transparent;
    height: 200px;
}

.findexit{
    position: relative;
    left: 540px;
    top: -30px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #0774DB;
    border: 0;
    cursor: pointer;
}

#fileupload{
    display: none;
}

.profile-page{
    left: 25%;
    top: 15%;
    width: 720px;
    height: 720px;
    background-color: white;
    position: absolute;
    border-radius: 37px 37px 48px 48px;
    z-index: 2;
}

.profile-exit{
    position: relative;
    left: -160px;
}

.green-corner{
    position: relative;
    top: -6vh;
    width: 400px;
    z-index: -1;
}

.blue-corner{
    position: relative;
    top: 22.5vh;
    left: 39.15vh;
}

.market{
    position: relative;
    left: -30%;
    top: -300px;
    cursor: pointer;
}

.point{
    display: flex;
    position: relative;
    top: -300px;
    right: 40%;
    font-family: Elice DX Neolli;
    font-size: 20px;
}

#thumnail{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.25);
}

.title{
    position: relative;
    left: -58%;
    top: -200px;
    text-align: center;
    font-family: Elice DX Neolli;
    font-size: 20px;
}

.market-page{
    left: 25%;
    top: 15%;
    width: 720px;
    height: 720px;
    background-color: white;
    position: absolute;
    border-radius: 40px;
    z-index: 2;
}

#floor_map_image{
    width: 1654;
    height: 629px;
    margin-top: 0%;
 }
 
 #floor_text{
     width: 200px;
     height: 76.75;
     margin-top: 50px;
 }
 
 #move_to_another_floor{
     height: 77px;
     width: 89px;
     margin-top: 50px;
 }
 
 #whole_image{
     width: 1654px;
     height: fit-content;
     object-fit: cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 .imageWrapper{
     width: 100%;
     height: 600px;
     img{
         object-fit: cover;
     }
 }