@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow: hidden;
}

.hidden{
    display: none;
}

#home-logo img{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 250px;
    height: 68px;
    cursor: pointer;
}

#profile-square{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 1605px;
    top: 35px;
    background: #0774DB;
    border-radius: 18px;
    border-width: 0;
    cursor: pointer;
}

.wanted{
    background-color: white;
    width: 600px;
    height: 700px;
    position: absolute;
    left: 200px;
    top:150px;
    border: 1px solid none;
    border-radius: 34px;
    box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.393);
    overflow-y: scroll;
    display: flex ;
    justify-content: space-between;
}

.wanted::-webkit-scrollbar {
    width: 25px;
}

.wanted::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
    background-clip: padding-box;
    border: 10px solid transparent;
    height: 200px;
}

.wanted img{
    margin:20px 0px 0px 20px;
    width: 30px;
    height: 30px;
}

.wanted p{
    display: inline;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: 'GmarketSansMedium';
    top:-8px;
    left: 5px;
}

.wanted-header{
    display: block;
}

.wanted-header button{
    position: absolute;
    border:1px solid black;
    border-radius: 5px;
    margin-left: 80%;
    margin-top: -35px;
    width: 90px;
    height: 30px;
}

#find{
    background-color: white;
    width: 600px;
    height: 221px;
    flex-shrink: 0;
    position: absolute;
    left: 860px;
    top:150px;
    border: 1px solid none;
    border-radius: 40px;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
    display: flex ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.quest{
    background-color: white;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 860px;
    top:450px;
    border: 1px solid none;
    border-radius: 40px;
    box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.393);
    overflow-y: scroll;
    display: flex ;
}

.quest img{
    margin:20px 0px 0px 20px;
    width: 30px;
    height: 30px;
}

.quest p{
    display: inline;
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'GmarketSansMedium';
    top:-8px;
    left: 5px;
}

.quest::-webkit-scrollbar {
    width: 25px;
}

.quest::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
    background-clip: padding-box;
    border: 10px solid transparent;
    height: 200px;
}
#find p{
    color: #000;
    font-family: Gmarket Sans TTF;
    font-size: 59.551px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.square1{
    display: block;
    position: absolute;
    left:1400px;
    top: 450px;
    width: 678px;
    height: 1085px;
    transform: rotate(214deg);
    background: linear-gradient( to right, white, #2B95E9 );
    z-index: -1;
}

.square2{
    display: block;
    position: absolute;
    left:200px;
    top: 700px;
    width: 400.77px;
    height: 841.32px;
    transform: rotate(60deg);
    background: linear-gradient( to left, white, #76C634 );
    z-index: -1;
}

.square3{
    display: block;
    position: absolute;
    left:-200px;
    top: 270px;
    width: 300px;
    height: 400px;
    transform: rotate(30deg);
    background: linear-gradient( to right top, white, #57A02C );
    z-index: -1;
}

.square4{
    display: block;
    position: absolute;
    left:830px;
    top: -400px;
    width: 320px;
    height: 660px;
    transform: rotate(240deg);
    background: linear-gradient( to top left, white, #0A72DA );
    z-index: -1;
}

.modal-page{
    margin: -20px;
    width: 120%;
    height: 120%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
}

.quested{
    left: 23%;
    top: 12%;
    width: 720px;
    height: 720px;
    background-color: white;
    position: absolute;
    border-radius: 40px;
    z-index: 2;
}

.quested-title p{
    margin-left: 24px;
    margin-top: 16px;
    font-family:  Elice DX Neolli;
    font-size: 20px;
    font-weight: 300;
}

.quested-title button{
    position: absolute;
    margin-left: 540px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #0774DB;
    border: 0;
    cursor: pointer;
}
.quested-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#addImg{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.25);
}
.quested-body input{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: Elice DX Neolli;
    width: 350px;
    height: 40px;
    outline: 0;
    margin-top: 20px;
    border-left-width:0; 
    border-right-width:0; 
    border-top-width:0; 
    border-bottom-width:1px;
}
.quested-body input:focus{
    border-bottom-width: 2px;
}
#quest-detail{
    width: 600px;
    height: 350px;
    margin-left: 8%;
    margin-top: 5%;
    border-radius: 40px;
    background: #F4F4F4;
    box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.25);
}
#detail{
    font-family: Elice DX Neolli;
    resize: none;
    border: none;
    outline: #000;
    background: #F4F4F4;
    margin-top: 20px;
    margin-left: 20px;
    width: 560px;
    height: 300px;
}
#detail::-webkit-scrollbar {
    width: 25px;
}

#detail::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
    background-clip: padding-box;
    border: 10px solid transparent;
    height: 200px;
}