body{
    text-align: center;
    background-color: black;
    color:white !important;
}
img{
    width: 200px;
    height: 200px;
    padding-top: 100px;
}
form{
    vertical-align: middle;
}
#email,#password{
    width:400px;
    height:40px;
    border-radius: 15px;
}
.in:first-child{
    margin-bottom: 50px;
}